<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <!-- <h1 class="logo-name">IN+</h1> -->

            </div>
            <h3><img src=" ../assets/utcbis-logo.png" width="310" height="120"></h3>
            <p>Sistema Integral Universitario
                <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
            </p>

            <form class="m-t" role="form"  [formGroup]="loginForm">
                <div class="form-group">
                    <input formControlName="email" type="text" class="form-control form-control-lg input-lg" id="email" name="email" placeholder="Correo electrónico" required>
                    <div class="error-messages">
                        <ng-container *ngFor="let error of error_messages.email">
                            <div class="error-message" *ngIf="loginForm.get('email').hasError(error.type) && (loginForm.get('email').dirty ||loginForm.get('email').touched)">
                                {{error.message}}
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" formControlName="password" required="">
                    <div class="error-messages">
                        <ng-container *ngFor="let error of error_messages.password">
                            <div class="error-message" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty ||loginForm.get('password').touched)">
                                {{error.message}}
                            </div>
                        </ng-container>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b" value="Entrar" (click)="login(loginForm.value)">Login</button>

            </form>
            <p class="m-t"> <small>Universidad Tecnológica de Cancún</small> <br>
                <small>Organismo Público Descentralizado del Gobierno del Estado de Quintana Roo</small> <br>
                <small>Carretera Cancún-Aeropuerto, Km. 11.5, S.M. 299, Mz. 5, Lt 1</small> <br>
                <small>Cancún, Quintana Roo, C.P. 77565</small> <br>
                <small>Tel. 01 (998) 881 19 00</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>

</body>