<div class="row">
    <div class="col-lg-12">
      <div class="wrapper wrapper-content animated fadeInUp">
        <div class="alert alert-primary" role="alert">
            Perfil alumno
          </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>Profesores</h5>
            <div class="ibox-tools">
              <!-- <a class="btn btn-primary btn-xs" (click)="goCreateAlumno()">Crear alumno</a> -->
            </div>
          </div>
          <div class="ibox-content">
            <div class="row m-b-sm m-t-sm">
              <!-- <div class="col-md-1">
                              <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                          </div>
                          <div class="col-md-11">
                              <div class="input-group"><input type="text" placeholder="Search" class="form-control-sm form-control"> <span class="input-group-btn">
                                  <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                          </div> -->
            </div>
  
            <div class="project-list">
              <mat-form-field>
                <mat-label>Filtro</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="">
              </mat-form-field>
  
              <div class="mat-elevation-z8" style="min-height: 500px;">
                <table mat-table [dataSource]="dataSource" matSort>
  
                  <!-- ID Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                  </ng-container>
  
  
  
  
                  <!-- Progress Column -->
                  <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
                    <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                  </ng-container>
  
  
                  <!-- acciones Column -->
  
                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell class="buttons" mat-cell *matCellDef="let user">
                      <button mat-cell mat-raised-button color="primary">Editar</button>
                      <button mat-cell mat-raised-button color="primary">Ver</button>
                    </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                  </tr>
                </table>
  
              </div>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>