<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Horario del grupo</h5>
                    <div class="ibox-tools">
                        <!-- <a (click)="goCreateMateria()"  class="btn btn-primary btn-xs">Crear materia</a> -->
                    </div>
                </div>
                <div class="ibox-content">
                    <img src="{{img}}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>