<div _ngcontent-tkm-c207="" class="header-container">
  <nb-actions size="small" fullWidth>
    <nb-action routerLinkActive="route-activate" (click)="toggle()" icon="menu-outline"> Inicio</nb-action>

</nb-actions>

</div>

<div _ngcontent-tkm-c207="" class="header-container">
  
  <nb-actions _ngcontent-tkm-c207="" size="small" _nghost-tkm-c117="" class="size-small">


    <nb-action _ngcontent-tkm-c207="" matripple="" class="mat-ripple user-action ng-star-inserted" _nghost-tkm-c116="">
      <nb-user [nbContextMenu]="userMenu" [name]="user" [picture]="imgProfile" nbContextMenuTrigger="click" _ngcontent-tkm-c207="" _nghost-tkm-c115=""
        class="size-medium shape-round context-menu-host ng-star-inserted">

      </nb-user>
    </nb-action>
  </nb-actions>
</div>

<!-- 
<div class="header-container">
  <nb-actions size="medium">
    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu" nbContextMenuTrigger="click" [name]=" user?.nombre" [picture]="user?.picture">
      </nb-user>
    </nb-action>
  </nb-actions>
</div> -->