<nb-layout windowMode>

  <nb-layout-header *ngIf="test.estado === true" fixed>
  <!-- Insert header here -->
  <app-header-admin  *ngIf="test.estado === true"></app-header-admin>
  </nb-layout-header >

  <nb-sidebar class="scrollable" responsive="true" state="compacted" *ngIf="test.estado === true" > 
    <app-sidebar-admin select="nb-menu"> </app-sidebar-admin>
  </nb-sidebar>
  

  <nb-layout-column>

    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
